# Python Basics: An Introduction to Core Concepts
In this notebook, we will cover the basic concepts of Python programming, including:

    Variables and Data Types
    Basic Arithmetic Operations
    Strings
    Lists
    Basic Input and Output
    Type Conversion
    
We will keep it simple and focus on the essentials.

## Variables and Data Types
In Python, variables are used to store data. Python supports several data types, such as integers, floating-point numbers, and strings.

In [1]:
# Example 1: Declaring variables and understanding data types

# Integer type
age = 25  # Integer

# Float type
height = 5.9  # Float

# String type
name = "John"  # String

# Boolean type
is_student = True  # Boolean

# Print variable values and their types
print("Age:", age)
print("Height:", height)
print("Name:", name)
print("Is student:", is_student)

# Check data types
print("\nData types:")
print(type(age))        # <class 'int'>
print(type(height))     # <class 'float'>
print(type(name))       # <class 'str'>
print(type(is_student)) # <class 'bool'>

Age: 25
Height: 5.9
Name: John
Is student: True

Data types:
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## Basic Arithmetic Operations
Python can perform basic arithmetic operations. Here's how to do simple calculations:

In [2]:
# Example 2: Basic arithmetic operations

# Addition
sum_result = 10 + 5

# Subtraction
difference = 10 - 5

# Multiplication
product = 10 * 5

# Division
division_result = 10 / 5

# Exponentiation (Power)
power_result = 2 ** 3

# Modulus (remainder of division)
remainder = 10 % 3

# Floor division (quotient without remainder)
floor_div = 10 // 3

# Print results
print("Addition:", sum_result)
print("Subtraction:", difference)
print("Multiplication:", product)
print("Division:", division_result)
print("Exponentiation:", power_result)
print("Modulus:", remainder)
print("Floor division:", floor_div)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Exponentiation: 8
Modulus: 1
Floor division: 3

## Strings
Strings are sequences of characters enclosed in quotes. You can perform operations on strings, such as concatenation and repetition.

In [3]:
# Example 3: Working with strings

# Concatenation (joining strings)
greeting = "Hello, " + "World!"

# Repetition (repeating a string)
repeat_greeting = "Hi! " * 3

# Accessing individual characters
first_letter = greeting[0]  # 'H'

# Slicing a string
sub_string = greeting[0:5]  # 'Hello'

# String length
length = len(greeting)  # 13

# String methods
uppercase = greeting.upper()  # 'HELLO, WORLD!'
lowercase = greeting.lower()  # 'hello, world!'

# Print results
print("Greeting:", greeting)
print("Repeated greeting:", repeat_greeting)
print("First letter:", first_letter)
print("Substring:", sub_string)
print("Length of greeting:", length)
print("Uppercase:", uppercase)
print("Lowercase:", lowercase)

Greeting: Hello, World!
Repeated greeting: Hi! Hi! Hi!
First letter: H
Substring: Hello
Length of greeting: 13
Uppercase: HELLO, WORLD!
Lowercase: hello, world!

## Lists
Lists are ordered collections of items, which can be of different types. Lists are mutable, meaning their contents can be changed.

In [4]:
# Example 4: Working with lists

# Creating a list
fruits = ["apple", "banana", "cherry"]

# Accessing list items
first_fruit = fruits[0]  # 'apple'

# Modifying a list
fruits[1] = "orange"  # Change 'banana' to 'orange'

# Adding items to the list
fruits.append("grape")  # Add 'grape' to the end

# Removing items from the list
fruits.remove("apple")  # Remove 'apple'

# Length of the list
list_length = len(fruits)  # 3

# Print results
print("First fruit:", first_fruit)
print("Updated fruits list:", fruits)
print("List length:", list_length)

First fruit: apple
Updated fruits list: ['orange', 'cherry', 'grape']
List length: 3

## Basic Input and Output
Python allows you to get input from users and display output.

In [5]:
# Example 5: Input and Output

# Taking input from the user
name = input("Enter your name: ")

# Displaying output
print("Hello, " + name + "!")

Enter your name: shahid
Hello, shahid!

## Type Conversion
Sometimes, you need to convert between different data types, especially when dealing with input from the user or performing mathematical operations.

In [6]:
# Example 6: Type Conversion

# Converting string to integer
age_str = "25"
age_int = int(age_str)  # Converts the string "25" to an integer

# Converting integer to string
age_string = str(age_int)  # Converts the integer 25 to the string "25"

# Converting string to float
height_str = "5.9"
height_float = float(height_str)  # Converts the string "5.9" to a float

# Display results
print("Age as integer:", age_int)
print("Age as string:", age_string)
print("Height as float:", height_float)

Age as integer: 25
Age as string: 25
Height as float: 5.9

## Examples

In [2]:
#  num1=20  num2=30  expectd output is 600
n1=20
n2=30
print(n1*n2)

600

In [4]:
#  num1=40  num2=30  expectd output is 70
n1=40
n2=30
print(n1+n2)

70

In [11]:
#iterate first 10 nums and print sum of previous and current num
prev=0
for i in range(10):
    pre=i
    print("previous num " , prev , "current num " , i ,"= ", pre+prev)
    prev=i

previous num  0 current num  0 =  0
previous num  0 current num  1 =  1
previous num  1 current num  2 =  3
previous num  2 current num  3 =  5
previous num  3 current num  4 =  7
previous num  4 current num  5 =  9
previous num  5 current num  6 =  11
previous num  6 current num  7 =  13
previous num  7 current num  8 =  15
previous num  8 current num  9 =  17

In [18]:
#take string from user and print characters at even index
str=input("enter string: ")
length=len(str)
for i in range(length-1):
    if i%2==0:
        print(str[i])

enter string:  shahid

s
a
i

In [17]:
str=input("enter string: ")
length=len(str)
for i in range(0,length-1,2):
    print(str[i])

enter string:  shahid

s
a
i

In [24]:
#take string from user and remove first n characters from string
s=input("enter string: ")
n=int(input("enetr no of characters to be removed"))
s[n:]

enter string:  shahid
enetr no of characters to be removed 4

'id'

In [35]:
#check if first and last element of list is same
def fun1(list):
    if list[0]==list[-1]:
        return 1
    else:
        return 0
list1=[]
n=int(input("enter no of elements"))
for i in range(0,n):
    ele=int(input())
    list1.append(ele)
r=fun1(list1)
if r==1:
    print("true")
else:
    print("false")

enter no of elements 5
 1
 2
 3
 4
 1

true

In [60]:
#ind maximum in list without creating a list 
m=None
for i in [-5,-9,-1,-8,-3]:
    if m is None or i>=m:
        m=i
print(m)

-1

In [61]:
m= float('-inf')
for i in [-5,-9,-1,-8,-3]:
    if i>=m:
        m=i
print(m)

-1

In [66]:
# display nums divsible by 5 in list
l1=[10,20,33,44,50]
for i in l1:
    if i%5==0:
        print(i)

10
20
50

In [70]:
#return count of a given sub string
str1="shahid is not a good developer. shahid is writer"
print("shahid occurs",str1.count('shahid'))

shahid occurs 2

In [71]:
str2=input()
search=input()
print(search , "occurs" , str2.count(search))

 shahid is ood
 good

good occurs 0

In [76]:
#print the pattern
for i in range(1,6):
    for j in range(i):
        print(i, end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [94]:
#check plaindrome number
num=int(input("enetr the number"))
temp=num
reverse=0
while temp>0:
    remainder=temp%10
    temp=temp//10
    reverse=reverse*10+remainder
if num==reverse:
    print(num , "is plaindrome")
else:
    print(num , "is not plaindrome")

enetr the number 12333

12333 is not plaindrome

In [96]:
#create a list from given two lists such that list contains odd from first list and even from 2nd list
l1=[1,2,3,4,5,6]
l2=[11,22,33,44,55]
l3=[]
for i in l1:
    if i%2!=0:
        l3.append(i)
for i in l2:
    if i%2==0:
        l3.append(i)
print(l3)

[1, 3, 5, 22, 44]

In [97]:
#problem determine outpu
l11=[1,2,3,4,5,6]
for l11[-1] in l11:
    print(l11[-1])

1
2
3
4
5
5

In [98]:
a=[1,2,3,4,5]
a[1:4]=[9]
print(a)

[1, 9, 5]